.flowing{
    align-items: center;
    color: var(--dark__cyan);
    padding: 5em 0;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;

}
.flowing__image{
    width: 100%;
    max-width: 550px;
}
.flowing__title{
    color: var(--dark__cyan);
    margin: 9px 0;
    font-family: var(--poppin);
}
.flowing__text{
   
    width: 100%;
}
@media screen and (max-width:800px) {
    .flowing{
        flex-wrap: wrap;
    }
    .flowing div{
        text-align: center;
        width: 100%;
    }
    .flowing__text{

    }
}