.together{
    background: var(--pale__blue);
    color: var(--dark__cyan);
    padding: 5em 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.together__title{
    text-align: left;
    font-family: var(--poppin);
    margin: 0 auto;
    width: 100%;
}
.together__text{
    text-align: left;
    font-family: var(--sans);
    margin: 8px auto;
    width: 400px;
}
@media screen and (max-width:800px) {
    .together{
        flex-wrap: wrap;
        justify-content: left;
    }
    .together div{
        width: 100%;
        max-width: 400px;
        margin:2em auto;
        text-align: center;
    }
    .together__title{
       text-align: center;
    }
    .together__text{
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}
.together__image{
    max-width: 600px;
    width: 100%;
}
@media screen and (max-width:800px){
    .together__image{
        min-width: 0;
    }
}