@media screen and (max-width:500px) {
    .header__image{
        max-width: 150px;
    }
}
.header__config{
    justify-content: space-between;
    width: 90%;
    margin: 2.5em auto;
}
.header__button{
    color: var(--pink);
    border: solid 2px;
    border-color: var(--pink);
    border-radius: 20px;
    padding: 0.5em 13px;
    text-decoration: none;
}
.header__button:hover{
    background: var(--pink);
    box-shadow: 0 0 calc(3px*3) 0 var(--light__pink);
    color: white;
    transition: 0.2s;
}