.users__image{
    width: 100%;
    max-width: 900px;
}
.users__list{
    justify-content: space-between;
   
}
.users__item{
    text-align: left;
    color: var(--dark__cyan);
    padding: 5em 0;
    margin: 8px auto;
    width: 300px;
}

@media screen and (max-width:500px) {
    .users__list{
    flex-direction: column;
    }
    .users__item{
        
        text-align: center;
    }
}
.users__icon{
    color: var(--pink);
}
.users__title{
    font-family: var(--sans);
    font-size: 50px;
    font-weight: bold;
}
.users__info{
    color: gray;
    font-size: 18px;
}